html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway';
  max-width: 1440px;
  margin: auto;
}

#main {
  margin-left: 3%;
  margin-right: 3%;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  height: 70px;
  margin-top: 10px;
  margin-left: 40px;
}

.menu {
  width: 350px;
  display: flex;
}

.menu-lien {
  text-decoration: none;
  color: black;
  flex: 1 50%;
  text-align: center;
  padding-top: 34px;
}

.menu-lien:hover {
  border-top: 2px solid #0065FC;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

p {
  font-size: 16px;
}

.contain-search {
  display: flex;
}

.logo-city {
  font-size: 21px;
  border-radius: 20px 0px 0px 20px;
  background-color: #F2F2F2;
  width: 50px;
  height: 49px;
  text-align: center;
}

.fas.fa-map-marker-alt {
  margin-top: 12px;
  margin-left: 6px;
}

.recherche {
  height: 50px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #F2F2F2;
}

.searchbutton {
  color: white;
  background-color: #0065FC;
  height: 50px;
  margin-left: -4px;
  border-radius: 0px 16px 16px 0px;
  width: 122px;
  font-weight: bold;
  border: none;
}

.wrapper--loupe {
  display: none;
}

.fa.fa-search {
  color: white;
}

.filtres {
  display: flex;
  width: 65%;
  margin-top: 20px;
  white-space: nowrap;
}

.tags {
  color: #0065FC;
  border-radius: 53px;
  border: solid 2px;
  display: flex;
  margin-right: 20px;
  border-color: #d9d9d9;
}

.tags:hover {
  -moz-transform: scale(1.2) translateY(25px);
  -webkit-transform: scale(1.2) translateY(25px);
  -ms-transform: scale(1.2) translateY(25px);
  transform: scale(1.2) translateY(25px);
  background-color: #deebff;
  cursor: pointer;
  transition-duration: 1s;
}

.icons {
  background: #DEEBFF;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  line-height: 51px;
  margin-right: 6px;
  margin-left: -3px;
}

h5 {
  color: black;
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 4px;
  padding-right: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 17px;
}

.titre-filtre {
  width: 100%;
}

.wrapper--info {
  display: flex;
  margin-top: 40px;
}

.rond--icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  font-size: 16px;
}

.logements {
  font-size: 16px;
  margin-top: 6px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.container--hebergement {
  display: flex;
}

.wrapper--1 {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 18px;
  width: 72%;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.wrapper--card1 {
  display: flex;
  flex-wrap: wrap;
}

.card1 {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  margin-right: 22px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 10px 7px rgba(58, 50, 50, 0.38);
  box-shadow: 0px 2px 10px 7px rgba(49, 51, 46, 0.1);
}

.card1:hover {
  transform: scale(1.3);
  transition: 1000ms;
}

.img1 {
  width: 232px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.card-price {
  font-size: 14px;
  margin-left: 5px;
}

.card-body {
  margin-left: 1%;
  margin-bottom: 1%;
}

.card-stars {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.stars-blue {
  color: #0065fc;
}

.stars-grey {
  color: #d9d9d9;
}

.affiche {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
}

.wrapper--2 {
  background-color: #f2f2f2;
  border-radius: 25px;
  margin-left: 30px;
  padding-top: 20px;
  width: 35%;
}

.contain-card {
  margin-left: 10%;
  margin-right: 10%;
}

.wrap-titre {
  display: flex;
  justify-content: space-between;

}

.populaire {
  font-size: 24px;
  display: inline-block;
  font-weight: 700;
  width: 80%;
}

.courbe {
  font-size: 30px;
  font-weight: 700;
  margin: auto;
  margin-right: 0px;
}

.card2 {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px 7px rgba(58, 50, 50, 0.38);
  box-shadow: 0px 2px 10px 7px rgba(49, 51, 46, 0.1);
}

.card2:hover {
  transform: scale(1.3);
  transition: 1000ms;
}

.img2 {
  width: 124px;
  object-fit: cover;
  border-radius: 25px 0px 0px 25px;
  height: 100%;
}

.wrapper--right {
  display: flex;
}

.title-right {
  margin-top: 5px;
  margin-left: 5px;
}

.card-stars2 {
  margin-top: 44px;
  margin-left: 5px;
  font-size: 12px;
}

.last-img {
  margin-bottom: -77px;
}

.last-stars {
  margin-top: 55px;
}

.activite-titre {
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 40px;

}

.activite-list {
  display: flex;
  justify-content: space-around;
  height: 600px;
}

.activite-list .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.img-activite {
  width: 100%;
  height: 82%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}


/*? Taille des cards pour 1 col */

.activite-list .column article {
  height: 100%;
  box-shadow: 0px 0px 10px 0px #E0E0E0;
  border-radius: 25px;
}

/*? Taille des cards pour les 2 cols */
.activite-list .column.double article {
  height: 48%;
}

/* !espacement différent pour pomegues et frioul */
.activite-list .column.double .pom {
  height: 56%;
}

.activite-list .column.double .frioul {
  height: 40%;
}

#activite h3 {
  margin: 0px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

/*? taille d'image quand seule */
.solo {
  height: 91%;
}

.effet:hover {
  transition: 500ms;
  color: #0065FC;

}

/*! Footer */

footer {
  background-color: #f2f2f2;
  ;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
}

.wrapper-foot {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: flex-start;
}

.foot {
  width: 33%;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  margin-top: 8px;
}


footer h3 {
  font-size: 18px;
  font-weight: 700;
}

footer a:hover {
  transition: 500ms;
  color: #0065FC;
}


/* !! Responsive Tablette */



@media (max-width: 991px) {
  .activite-list {
    display: block;
    height: auto;

  }

  #activite .activite-list .column {

    width: 100%;
  }

  .activite-list .column article {
    height: 400px;
    margin-bottom: 40px;
  }

  .activite-list .column.double article {
    height: 300px;
    margin-bottom: 40px;
  }

  #activite h3 {
    margin: 0px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .activite-list .column.double article {
    height: 300px;
  }

  .filtres {
    flex-wrap: wrap;
    width: 100%;
  }

  .container--hebergement {
    display: flex;
    flex-direction: column;
  }

  .wrapper--1 {
    width: 100%;
    padding: 8px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    order: 2;
    background-color: white;
  }

  .tags {
    margin-top: 7px;
    margin-right: 6px;
  }


  h3 {
    margin: 10px;
  }

  .wrapper--card1 {
    display: block;
  }

  .card1 {
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin-right: 22px;
    margin-bottom: 30px;
  }

  .img1 {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }

  .wrapper--2 {
    background-color: #f2f2f2;
    border-radius: 0px;
    margin-left: 0px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    margin-bottom: 30px;
  }

  .wrap-titre {
    margin-bottom: 12px;
  }

  .contain-card {
    margin-left: 5%;
    margin-right: 5%;
  }

  .activite-list .column.double .pom {
    height: 400px;
  }

  .activite-list .column.double .frioul {
    height: 400px;
  }

  .card2 {
    width: auto;
  }


  .wrapper-foot {
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }


  ul {
    padding-left: 0px;
  }

  li {
    list-style-type: none;
    margin-top: 8px;
  }

  footer h3 {
    margin-left: 0px;
  }


  .foot {
    width: 100%;
  }

  footer {
    padding-left: 3%;
  }








}



/* !! Responsive téléphone */



@media (max-width: 768px) {

  header {
    justify-content: center;
  }

  .menu {
    width: 100%;
  }

  .menu-lien {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .menu-lien:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
  }

  h1 {
    font-size: 22px;
  }

  .menu-lien.lien2:focus {
    border-top: 0px;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .recherche {
    width: 64vw;
  }

  .searchbutton {
    display: none;
  }

  .wrapper--loupe {
    display: block;
    background-color: #0065fc;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
    width: 50px;
    border-style: hidden;
  }


}